.footer {
    text-align: center;
    background-color: black;
    padding: 2rem;
}

.footer h3 {
    color: white;
}

.footer p {
    color: white;
    text-align: center;
}

.footer hr {
    background-color: white;
}